@charset "UTF-8";

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  color: #383e45;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.site-title {
  width: 120px;
  line-height: 1px;
  padding: 10px 0;
}

.site-title a {
  display: block;
}

.section-title {
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  margin: 60px 0;
  border-bottom: solid 1px #383e45;
}

.content-title {
  font-size: 1rem;
  margin: 10px 0;
  text-align: center;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 100px auto;
  padding: 0 4%;
  text-align: center;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#header ul {
  display: flex;
  padding: 10px 0;
}

#header li {
  margin-left: 30px;
}

#header li a {
  color: #24292e;
}

#header li a:hover {
  opacity: 0.7;
}

#kv {
  margin-bottom: 100px;
  text-align: center;
}

#kv img {
  width: 100%;
  height: calc(100vh - 60px);
  object-fit: cover;
}

#about img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#garden h3 {
  line-height: 2;
}

#garden li {
  margin-bottom: 80px;
}

#garden img {
  border-radius: 16px;
}

.text p, ul p {
  text-align: left;
}


@media screen and (min-width: 601px) {
  #kv img {
    max-width: 1920px;
    height: 600px;
  }

  /* About */
  #about .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #about img {
    margin-right: 30px;
  }
  .content-title {
    text-align: left;
  }

  /* Garden */
  #garden ul {
    display: flex;
    justify-content: space-between;
  }

  #garden li {
    width: 32%;
    max-height: max-content;
  }
}

/* footer */
#footer {
  font-size: 1rem;
  padding: 10px;
  text-align: center;
  background-color: #007436;
}

#footer a {
  color: #fff;
}
